body {
  background: black;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  letter-spacing: 0.04em;
}

input, select {
  background: #444;
  border-color: #666;
  color: white;
  padding: .25em .75em;
  margin: .25em;
  border-radius: 5px;
}

pre {
  background-color: #666;
  border: #999;
  border-radius: 5px;
  color: white;
  margin: .25em;
}

.clear-fix {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0;
}

.well {
  background: #333;
  border-color: #555;
}

.panel {
  background-color: #444;
}

.panel-default {
  border-color: #666
}

.panel-default>.panel-heading {
  background-image: none;
  background-color: #696969;
  border-color: #666;
  color: white;
}

.navbar {
  margin-bottom: 0;
  min-height: 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-nav>li>a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn-default {
  background-image: none;
  background: #666;
  border-color: #444;
  color: #ccc;
  text-shadow: 1px 1px 0 #000;
}
.btn-default:hover, .btn-default:focus, .btn-default:active:focus {
  background: #444;
  color: white;
  border-color: black;
}

.main-view {
  margin-top: 34px;
  color: #CCC;
  overflow: scroll;
  padding: 1em;
}

.side-bar {
  margin-top: 34px;
  background: #333;
  color: #CCC;
  overflow: scroll;
  padding: 1em;
}

.side-bar h1 {
  margin: .25em 0 .5em;
  font-size: 16pt;
}

.side-bar ul {
  list-style: none;
  padding: 0;
}

.footer-toolbar {
  background: #222;
  color: #AAA;
  padding: 5px;
  min-height: 40px;
  font-size: 16pt;
  font-weight: 100;
  letter-spacing: 1.5px;
}
.footer-toolbar.success {
  background: #337133;
  color: yellow;
}
.footer-toolbar.failed {
  color: yellow;
  background: #933;
}

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.dropdown-menu {
  background: #444;
}

.dropdown-menu>li>a {
  color: #CCC;
}

.dropdown-menu .divider {
  background-color: #696969;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #696969;
  color: white;
  background-image: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: #696969;
  color: white;
  background-image: none;
  border-color: #888;
}

.metropolis-form {}

.metropolis-form table {
  width: 90%;
}

.metropolis-form table td:nth-child(1) {
  text-align: right;
  padding-right: 1em;
}

.metropolis-form table td:nth-child(2) {
  width: 80%;
  padding: .25em;
}

.metropolis-form table input, .metropolis-form table select {
  width: 100%;
  font-size: 12pt;
  padding: .25em;
  color: white;
  background: #696969;
  border-radius: 5px;
  border-color: #888;
}

.custom-modal-dialog {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.custom-modal-dialog .custom-modal-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
  z-index: 20;
}

.custom-modal-dialog .custom-dialog-box {
  position: absolute;
  right: 10%;
  left: 10%;
  top: 10%;
  border-radius: 10px;
  pointer-events: all;
  z-index: 21;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .35);
}

.custom-modal-dialog h3 {
  margin-top: 0;
}

.custom-modal-dialog .custom-buttons {
  margin: 1em;
}

.custom-modal-dialog .custom-buttons button {
  margin-right: .5em;
}

.custom-modal-dialog .panel-body {
  color: #b9b9b9;
}

.project-detail-view ul.service-list {
  list-style: none;
  padding: 1em;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow: scroll;
  white-space: nowrap;
  line-height: 1.75em;
}

.project-detail-view .workspace {
  background: #222;
  color: #999;
  position: absolute;
  top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  padding: 1em;
}
.project-detail-view .workspace .value-container {
  overflow: scroll;
  margin-top: 16px;
}

.project-detail-view .workspace ul.default-values-list {
  list-style: none;
  padding: .5em;
}
.project-detail-view .workspace ul.default-values-list .col-xs-6 {
  padding: 0 .3em;
}
.project-detail-view .workspace ul.default-values-list input, .add-default-value-container input, .add-default-value-container button {
  width: 100%;
}
.project-detail-view .workspace .test-list {
  list-style: none;
  padding-left: 0;
  font-size: 12pt;
}

.project-detail-view .workspace .test-list h2 {
  margin-top: 0;
  overflow: scroll;
  font-size: 18pt;
}
.project-detail-view .workspace .test-list .service-test {
  padding: 1em;
  border: 1px solid #555;
  transition: all 0.5s ease;
}
.project-detail-view .workspace .test-list .service-test.active {
  border-color: white;
  color: white;
  background: #333;
}
.project-detail-view .workspace .test-list .service-test.failed {
  border-color: red;
  color: white;
  background: #933;
}
.project-detail-view .workspace .test-list .service-test.passed {
  border-color: #0F0;
  color: white;
  background: #242;
}
.project-detail-view .workspace .test-list .service-test.passed.active {
  border-color: yellow;
  background: #337133;
  color: yellow;
}
.project-detail-view .workspace .test-list .service-test.failed.active {
  border-color: yellow;
  background: #c13333;
  color: yellow;
}
.project-detail-view .workspace .test-list .service-test.passed .add-assertion-container .column {
  background: #242;
}
.project-detail-view .workspace .test-list .service-test.passed pre, .project-detail-view .workspace .test-list .service-test.passed .test-results .data-source {
  background: #353;
}
.project-detail-view .workspace .test-list .service-test.failed .add-assertion-container .column {
  background: #933;
}
.project-detail-view .workspace .test-list .service-test.failed pre, .project-detail-view .workspace .test-list .service-test.failed .test-results .data-source {
  background: #822;
}
.test-results .data-source {
  padding: .5em;
  border-radius: 5px;
}
.workspace .default-values {
  padding: 1em;
  border: 1px solid #555;
  margin-top: 30px;
}
.workspace .default-values button {
  margin-top: 3px;
}
.workspace .default-values h2 {
  margin: 0;
}
.project-detail-view .workspace h3 {
  text-align: center;
  font-size: 16pt;
}
.project-detail-view .workspace .input-details table {
  width: 100%;
}
.project-detail-view .workspace .input-details table td:nth-child(1){
  text-align: right;
  padding-right: 1em;
  width: 25%;
}
.project-detail-view .workspace .input-details table input {
  width: 100%;

}
.project-detail-view ul.service-list li {
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 12pt;
}

.project-detail-view ul.service-list li.activate-mouse-hover:hover {
  background: #555;
  border-radius: 10px;
}

.project-detail-view ul.service-list .badge {
  font-weight: normal;
  background-color: #419641;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
  transform: translateY(-2px);
}

.project-detail-view ul.service-list .arrow-icon {
  font-size: 6pt;
  transform: translateY(-3px);
}

.project-detail-view ul.service-list .add-service-button {
  width: 100%;
  margin-bottom: 1em;
}

.project-detail-view ul.method-list {
  list-style: none;
  padding-left: 2em;
}

.project-detail-view ul.method-list li {
  font-size: 11pt;
}

.project-detail-view ul.method-list li:hover {
  color: #61dc61;
  padding: 2px;
  text-decoration: underline;
}
.project-detail-view ul.method-list li.has-test {
  color: #61dc61;
}

.welcome-page {
  padding: 0 2em;
}

.welcome-page .likely-actions {
  list-style: none;
  padding: 0 2em;
  margin-top: 40px;
}

.welcome-page .likely-actions li {
  border: 1px solid #666;
  padding: .7em 1.5em .7em;
}

.welcome-page .project-list {
  list-style: none;
  font-size: 14pt;
}

.project-list li {
  cursor: pointer;
  transition: all 0.2s ease;
}

.project-list li:hover {
  background: #444;
  text-decoration: underline;
}

.loading-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  pointer-events: none;
}
.loading-animation-container {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(255, 255, 255, 0.5);
}
.loading-animation-container .glyphicon-globe {
  position: absolute;
  left: 45%;
  top: 40%;
  font-size: 50pt;
  transform: translateX(15px) translateY(-55px);
}
.loading-animation-container .orbiter {
  position: absolute;
  left: 45%;
  top: 40%;
  animation: loadingAnimationOrbiter 1s linear infinite;
  border-radius: 50%;
  background: white;
  width: 10px;
  height: 10px;
}

@keyframes loadingAnimationOrbiter {
  0% {
    transform: rotate(0deg) translateX(90px) translateY(-70px);
  }
  25% {
    transform: rotate(90deg) translateX(0) translateY(0px);
  }
  50% {
    transform: rotate(180deg) translateX(-90px) translateY(70px);
  }
  75% {
    transform: rotate(270deg) translateX(0) translateY(0px);
  }
  100% {
    transform: rotate(360deg) translateX(90px) translateY(-70px);
  }
}

.custom-tool-tip {
  position: absolute;
  background: rgba(136, 136, 255, .67);
  color: white;
  padding: .25em .5em;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .35);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
}
.custom-tool-tip.hide {
  display: none;
}
.playbar {
  background: #444;
  text-align: center;
  margin: -15px;
  padding: .5em;
}
.playbar .button-play {
  display: none;
}
.playbar.paused .button-pause {
  display: none;
}
.playbar.paused .button-play {
  display: inline-block;
}
.add-assertion-container select, .add-assertion-container input, .add-assertion-container button {
  width: 100%;
}
.add-assertion-container button {
  margin-top: 4px;
}
.add-assertion-container select {
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 2px;
}
.add-assertion-container .column {
  padding: 5px;
  background: #444;
  min-height: 52px;
}
.default-values-container .col-xs-4, .default-values-container .col-xs-5 {
  padding: 0 5px;
}
h2 .badge {
  font-size: 14pt;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
}
.assertion-list .list-of-assertions {
  list-style: none;
  padding-left: 0;
}
.assertion-list .list-of-assertions .col-xs-3 {
  padding: .25em .5em;
  min-height: 34px;
}
.assertion-list .list-of-assertions .btn {
  padding: 0 3px;
}
.test-results {
  margin-top: .5em;
  padding: .5em;
}
.list-of-assertions li.failed {
  background: red;
}
